PORT=3000
NODE_ENV=development

# Local Mongo:
MONGO_URI=mongodb://localhost:27017/day07tasks

# OR Atlas (uncomment + edit):
# MONGO_URI=mongodb+srv://mernuser:PASSWORD@cluster0.xxxxx.mongodb.net/day07tasks?retryWrites=true&w=majority

# Allow our React frontend (Vite default port)
CLIENT_ORIGIN=http://localhost:5173
