openapi: 3.0.0
info:
  title: TaskFlow MCP API
  description: Task management API for TaskFlow MCP system
  version: 1.0.0
servers:
  - url: https://taskflow.academydsj.com
    description: Production server

paths:
  /health:
    get:
      summary: Health check
      description: Check if the server is running
      operationId: healthCheck
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  server:
                    type: string
                  timestamp:
                    type: string

  /api/tools/list:
    get:
      summary: List available tools
      description: Get a list of all available task tools
      operationId: listTools
      responses:
        '200':
          description: List of tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string

  /api/tools/add_task:
    post:
      summary: Add a new task
      description: Create a new task with title, priority, and optional due date
      operationId: addTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Task title (required)
                  example: "Finish MCP implementation"
                priority:
                  type: string
                  enum: [low, medium, high]
                  description: Priority level (default: medium)
                  example: "high"
                due:
                  type: string
                  format: date
                  description: Due date in ISO format (optional)
                  example: "2026-06-28"
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            text:
                              type: string
        '400':
          description: Invalid input

  /api/tools/list_tasks:
    post:
      summary: List tasks
      description: Get tasks, optionally filtered by status
      operationId: listTasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [all, pending, done]
                  description: Filter by status (default: all)
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: object
                    properties:
                      content:
                        type: array

  /api/tools/complete_task:
    post:
      summary: Complete a task
      description: Mark a task as done by its ID
      operationId: completeTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Task ID (e.g., t1)
                  example: "t1"
      responses:
        '200':
          description: Task completed

  /api/tools/update_task:
    post:
      summary: Update a task
      description: Update task title, priority, or due date
      operationId: updateTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Task ID
                  example: "t1"
                title:
                  type: string
                  description: New title (optional)
                priority:
                  type: string
                  enum: [low, medium, high]
                  description: New priority (optional)
                due:
                  type: string
                  format: date
                  description: New due date (optional)
      responses:
        '200':
          description: Task updated

  /api/tools/delete_task:
    post:
      summary: Delete a task
      description: Delete a task by its ID
      operationId: deleteTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Task ID
                  example: "t1"
      responses:
        '200':
          description: Task deleted

  /api/tools/search_tasks:
    post:
      summary: Search tasks
      description: Search tasks by title (case-insensitive)
      operationId: searchTasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Search term
                  example: "zoom"
      responses:
        '200':
          description: Matching tasks

  /api/resources/tasks-all:
    get:
      summary: Get all tasks as JSON
      description: Retrieve the complete task list as JSON data
      operationId: getTasksResource
      responses:
        '200':
          description: All tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        priority:
                          type: string
                        status:
                          type: string
                        due:
                          type: string
                          nullable: true
                        createdAt:
                          type: string

  /api/prompts/daily_standup:
    get:
      summary: Get daily standup prompt
      description: Get a prompt template for generating daily standups
      operationId: getDailyStandupPrompt
      responses:
        '200':
          description: Daily standup prompt template
